<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= data.meta.title %></title>
    <%= partial "partials/meta" %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag :tachyons %>
    <%= stylesheet_link_tag :site %>
    <%= partial "partials/analytics" %>
  </head>
  <body class="js-load opacity-0 duration-1_5 function-ease-io">
    <%= partial "partials/navigation/index" %>
    <%= yield %>
  </body>
  <%= javascript_include_tag :all %>
</html>
