<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><% if locals[:project] %>Case Study: <%= project.title %> by Claudio Vallejo<% else %><%= current_page.data.title %><% end %></title>
    <%= partial "partials/meta" %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <%= stylesheet_link_tag :site %>
    <%= partial "partials/analytics" %>
  </head>
  <body class="js-load is-hidden">
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
  <%= javascript_include_tag :all %>
</html>
