---
title: About Claudio Vallejo
layout: main
meta_title: About
description: Hi there! I’m Claudio, product designer freelancing from Monterrey, Mexico. At the moment I’m looking for a job opportunity as a Product Designer working on design systems or business tools with global impact.
---
<%# Config %>
<% about = data.about %>
<%# End %>
<main class="cf">
  <div class="mw38 center mt4-ns">
    <article class="mb4">
      <picture>
        <% about.image.breakpoints.each do |breakpoint| %>
          <source srcset="<%= breakpoint["1x"] %> 1x, <%= breakpoint["2x"] %> 2x" media="(min-width: <%= breakpoint.width %>rem)">
        <% end %>
        <img class="db w-100" src="<%= about.image["1x"] %>" srcset="<%= about.image["1x"] %> 1x, <%= about.image["2x"] %> 2x" alt="<%= about.image.alt %>">
      </picture>
    </article>
    <header class="mb2">
      <h1 class="relative z-2 dib ma0 merriweather f1 fw4 black">About</h1>
    </header>
  </div>
  <div class="mw38 center ph1 ph0-ns">
    <%# Config %>
    <% bsl = about.bio.content.length - 1 %>
    <%# End %>
    <% about.bio.content.each_with_index do |section, s| %>
      <p class="ma0 <% if s != bsl %>mb1<% else %>mb4<% end %> merriweather f1 space-gray lh1_75"><%= section %></p>
    <% end %>
    <%# Config %>
  </div>
</main>
