---
layout: main
---
<%# Config %>
<% article = locals[:article] %>
<%# End %>
<article>
  <header>
    <div class="mw45 center pv6 ph1 ph2-m ph0-l">
      <h3 class="mb2 lato f0_75 fw7 tracked ttu silver">
        <%= article.date %>
        <% if article.status.active %>
          <span class="ph0_5">・</span><span class="<%= article.status.color %>"><%= article.status.title %></span>
        <% end %>
      </h3>
      <h1 class="mb1 merriweather f2 fw3 dark-gray"><%= article.title %></h1>
      <h2 class="w-80-ns lato f1_5 fw3 lh1_50 dark-gray"><%= article.description %></h2>
    </div>
  </header>
  <%# Config %>
  <% sl = article.content.length - 1 %>
  <%# End %>
  <% article.content.each_with_index do |section, s| %>
    <section class="<% if s != sl %>mb2<% else %>mb6<% end %> cf">
      <% if section.title %>
        <div class="mw45 center mb2 ph1 ph2-m ph0-l">
          <h1 class="relative z-2 dib ma0 merriweather f1 fw4 dark-gray"><%= section.title %></h1>
        </div>
      <% end %>
      <%# Config %>
      <% cl = section.content.length - 1 %>
      <%# End %>
      <% section.content.each_with_index do |content, c| %>
        <%# Config %>
        <% if cl != c %>
          <% next_type = section.content[c + 1].type %>
        <% end %>
        <%# End %>
        <% if content.type === "text" %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <p class="ma0 <% if next_type && next_type === "media" %>mb4<% elsif next_type && next_type === "block" %>mb2<% elsif c != cl %>mb1<% else %>mb6<% end %> merriweather f1 f1_125-ns fw3 space-gray lh1_75 lh2-ns"><%= content.text %></p>
          </div>
        <% end %>
        <% if content.type === "media" %>
          <div class="mw60 center mb6">
            <img src="<%= content.media["1x"] %>" srcset="<%= content.media["1x"] %> 1x, <%= content.media["2x"] %> 2x" alt="<% if content.media.alt %><%= content.media.alt %><% end %>">
            <% if content.media.caption %>
              <div class="mw45 center tc ph1 ph0-ns">
                <p class="ma0 lato f1 fw4 lh1_25 gray"><%= content.media.caption %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if content.type === "block" %>
          <%# Config %>
          <% il = content.block.length - 1 %>
          <%# End %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <% content.block.each_with_index do |item, i| %>
              <div class="<% if i != il %>mb2<% else %>mb6<% end %> pl2 bl b--light-gray">
                <h4 class="ma0 mb1 merriweather f1 dark-gray"><%= item.title %></h4>
                <p class="ma0 merriweather f1 f1_125-ns fw4 lh1_75 space-gray"><%= item.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if content.type === "break" %>
          <div class="mw45 center mt2 mb4">
            <div class="w5 bb b--light-gray"></div>
          </div>
        <% end %>
        <% if content.type === "list" %>
          <%# Config %>
          <% rl = content.list.length - 1 %>
          <%# End %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <% content.list.each_with_index do |post, r| %>
              <div class="fl w-100 w-50-ns <% if r < rl %>mb2<% end %> <% if r % 2 == 0 %>pr1-ns<% else %>pl1-ns<% end %>">
                <a class="js-link shadow-0 translateY-0 duration-0_25 property-all db no-underline bg-white" href="<%= post.source %>" target="_blank">
                  <table class="w-100" style="border-spacing: 0;">
                    <tbody>
                      <tr>
                        <td class="tc w-20">
                          <%= image_tag post.avatar, :class => "v-mid" %>
                        </td>
                        <td class="w-80 pv1 pl1 bl b--pearl">
                          <p class="ma0 mb0_5 merriweather f1 dark-gray"><%= post.title %></p>
                          <div class="relative" style="height: 13px;">
                            <p class="js-title opacity-1 duration-0_25 property-opacity absolute ma0 pr1 lato f0_75 fw7 tracked ttu gray">
                              <%= post.subtitle %>
                            </p>
                            <p class="js-title opacity-0 duration-0_25 property-opacity absolute ma0 lato f0_75 fw7 tracked ttu <%= post.color %>"><%= post.link %> →</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </section>
  <% end %>
</article>
