---
layout: main
---
<%# Config %>
<% project = locals[:project] %>
<%# End %>
<article class="mb6">
  <header class="mb2">
    <div class="mw45 center pv6 ph1 ph0-ns">
      <h3 class="mb2 lato f0_75 fw7 tracked ttu silver"><%= project.type %></h3>
      <h1 class="mb1 merriweather f2 fw3 dark-gray"><%= project.name %></h1>
      <h2 class="w-80-ns mb2 lato f1_5 fw3 lh1_50 dark-gray"><%= project.caption %></h2>
      <ul class="pa0 list">
        <li class="dib tc">
          <a class="dib w10 mr0_5-ns mb1 pv1 lato f0_75 fw7 tracked ttu dark-gray no-underline ba b--light-gray" href="<%= project.source.site.path %>" target="_blank">
            <%= project.source.site.title %>
          </a>
        </li>
        <li class="dib tc">
          <a class="dib w10 ml0_5-ns pv1 lato f0_75 fw7 tracked ttu dark-gray no-underline ba b--light-gray" href="<%= project.source.code.path %>" target="_blank">
            <%= project.source.code.title %>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <%# Config %>
  <% sl = project.content.length - 1 %>
  <%# End %>
  <% project.content.each_with_index do |section, s| %>
    <section>
      <% if section.title %>
        <div class="mw45 center ph1 ph0-ns">
          <h3 class="ma0 mb2 merriweather f1_5 fw4 b dark-gray"><%= section.title %></h3>
        </div>
      <% end %>
      <%# Config %>
      <% cl = section.content.length - 1 %>
      <%# End %>
      <% section.content.each_with_index do |content, c| %>
        <%# Config %>
        <% if cl != c %>
          <% next_type = section.content[c + 1].type %>
        <% end %>
        <%# End %>
        <% if content.type === "text" || content.type === "note" %>
          <div class="mw45 center ph1 ph0-ns">
            <p class="ma0 <% if next_type && next_type === "media" %>mb4<% elsif next_type && next_type === "block" %>mb2<% elsif c != cl %>mb1<% else %>mb6<% end %> merriweather f1 f1_125-ns fw3 <% if content.type === "text" %>space-gray<% else %>gray<% end %> lh1_75 lh2-ns"><%= content.text %></p>
          </div>
        <% end %>
        <% if content.type === "media" %>
          <div class="mw60 center mb6">
            <img src="<%= content.media["1x"] %>" srcset="<%= content.media["1x"] %> 1x, <%= content.media["2x"] %> 2x" alt="<% if content.media.alt %><%= content.media.alt %><% end %>">
            <% if content.media.caption %>
              <div class="mw45 center tc ph1 ph0-ns">
                <p class="ma0 lato f1 fw3 lh1_25 space-gray"><%= content.media.caption %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if content.type === "block" %>
          <%# Config %>
          <% il = content.block.length - 1 %>
          <%# End %>
          <div class="mw45 center ph1 ph0-ns">
            <% content.block.each_with_index do |item, i| %>
              <div class="<% if i != il %>mb2<% else %>mb6<% end %> pl2">
                <h4 class="ma0 mb1 merriweather f1 f1_125-ns fw4 dark-gray"><%= item.title %></h4>
                <p class="ma0 merriweather f1 f1_125-ns fw3 lh2 space-gray"><%= item.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if s === sl %>
        <div class="mw45 center ph1 ph0-ns">
          <h3 class="ma0 mb2 merriweather f1_5 fw4 dark-gray"><%= project.tool_kit.title %></h3>
        </div>
        <%# Config %>
        <% tl = project.tool_kit.tools.length - 1 %>
        <%# End %>
        <div class="mw45 center cf ph1 ph0-ns">
          <% project.tool_kit.tools.each_with_index do |tool, t| %>
            <div class="fl w-100 w-50-ns <% if t != tl %>mb1<% end %> <% if t < tl - 1 %>mb1-ns<% end %> <% if t % 2 == 0 %>pr0_5-ns<% else %>pl0_5-ns<% end %>">
              <a class="js-link shadow-0 translateY-0 duration-0_25 property-all db no-underline" href="<%= tool.path %>" target="_blank">
                <table class="w-100" style="border-spacing: 0;">
                  <tbody>
                    <tr>
                      <td class="tc w-20 <% if tool.profile.color %>bg-<%= tool.profile.color %><% end %>">
                        <%= image_tag tool.profile.image.path, :class => "v-mid", :alt => tool.profile.image.path %>
                      </td>
                      <td class="w-80 pv1 pl1 bl b--pearl">
                        <p class="ma0 mb0_5 merriweather f1 dark-gray"><%= tool.title %></p>
                        <div class="relative" style="height: 13px;">
                          <p class="js-title opacity-1 duration-0_25 property-opacity absolute ma0 pr1 lato f0_75 fw7 tracked ttu silver">
                            <%= tool.subtitle %>
                          </p>
                          <p class="js-title opacity-0 duration-0_25 property-opacity absolute ma0 lato f0_75 fw7 tracked ttu silver"><%= tool.link %> →</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
</article>
