---
layout: docs
---
<%# Config %>
<% doc = locals[:doc] %>
<% sections = [] %>
<% data.docs.each do |id, section| %>
  <% sections.push(section) %>
<% end %>
<%# End %>
<div class="mw60 center cf pv4">
  <nav class="fl-l w-25-l">
    <ul class="ma0 pa0 list">
      <%# Config %>
      <% sl = sections.length - 1 %>
      <%# End %>
      <% sections.each_with_index do |section, s| %>
        <% path = "" %>
        <% if section.title != "Introduction" %>
          <% path = section.title.parameterize %>
        <% end %>
        <li class="ma0 <% if s != sl %>mb1<% end %>"><a class="ma0 mb2 lato f0_75 fw7 ls0_15 ttu gray no-underline dim" href="/docs/<%= path %>"><%= section.title %></a></li>
      <% end %>
    </ul>
  </nav>
  <article class="fl-l w-75-l">
    <header class="mb4 pb2 bb b--light-gray">
      <div class="ph1 ph2-m ph0-l">
        <h1 class="ma0 mb2 merriweather f2 fw3 dark-gray"><%= doc.title %></h1>
        <% doc.descriptions.each_with_index do |description, d| %>
          <h2 class="merriweather f1_125 fw3 lh2 dark-gray"><%= description %></h2>
        <% end %>
      </div>
    </header>
    <%# Config %>
    <% sl = doc.content.length - 1 %>
    <%# End %>
    <% doc.content.each_with_index do |section, s| %>
      <section class="<% if s != sl %>mb4 pb4 bb b--light-gray<% else %>mb6<% end %>">
        <% if section.title %>
          <header class="mb1 ph1 ph2-m ph0-l">
            <h2 class="ma0 merriweather f1_5 fw4 b dark-gray"><%= section.title %></h2>
          </header>
        <% end %>
        <%# Config %>
        <% cl = section.content.length - 1 %>
        <%# End %>
        <% section.content.each_with_index do |content, c| %>
          <%# Config %>
          <% if cl != c %>
            <% next_type = section.content[c + 1].type %>
          <% end %>
          <%# End %>
          <% if content.type === "text" || content.type === "note" %>
            <div class="ph1 ph2-m ph0-l">
              <p class="ma0 <% if next_type === "table" %>mb2<% elsif c != cl %>mb1<% else %>mb6<% end %> merriweather f1_125 fw3 <% if content.type === "text" %>dark-gray<% else %>gray<% end %> lh2"><%= content.text %></p>
            </div>
          <% end %>
          <% if content.type === "table" %>
            <div class="ph1 ph2-m ph0-l">
              <table class="w-100 collapse">
                <tbody>
                  <% content.table.each_with_index do |row, r| %>
                    <tr>
                      <% row.each_with_index do |cell, e| %>
                        <% if cell.type === "header" %>
                          <td class="v-top w-50 pa1 ba b--pearl bg-almost-white">
                            <h3 class="ma0 merriweather f1_125 fw4 black"><%= cell.header %></h3>
                          </td>
                        <% elsif cell.type === "code" %>
                          <td class="v-top w-50 pa1 ba b--pearl">
                            <code class="ma0 roboto-mono f1 fw4 lh1_50 chili"><%= cell.code %></code>
                          </td>
                        <% elsif cell.type === "descriptions" %>
                          <td class="v-top w-50 pa1 ba b--pearl">
                            <%# Config %>
                            <% dl = cell.descriptions.length - 1 %>
                            <%# End %>
                            <% cell.descriptions.each_with_index do |description, d| %>
                              <% if description.type === "text" %>
                                <p class="ma0 mb1 merriweather f1 fw3 black lh1_50"><%= description.text %></p>
                              <% elsif description.type === "rule" %>
                                <p class="ma0 <% if d != dl %>pb0_5<% end %> merriweather f1 fw4 black lh1_50">
                                  <%= description.title %>:
                                  <code class="roboto-mono green"><%= description.code %></code>
                                </p>
                              <% end %>
                            <% end %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </article>
</div>
