---
layout: docs
---
<%# Config %>
<% doc = locals[:doc] %>
<% page_title = doc.title %>
<% sections = [] %>
<% data.docs.each do |id, section| %>
  <% sections.push(section) %>
<% end %>
<%# End %>
<div class="mw60 center cf pv4-l">
  <nav class="fl-l w-25-l mb4 mb0-l pv1 pv0-l bt bb bn-l b--light-gray bg-almost-white-l">
    <ul class="ma0 ph1 ph2-m ph0-l overflow-x-auto overflow-scrolling scrollbar-dn nowrap list">
      <%# Config %>
      <% sl = sections.length - 1 %>
      <%# End %>
      <li class="dib db-l ma0 mb2-l pr2 pr0-l">
        <a class="ma0 mb2 lato f0_75 fw7 ls0_15 ttu gray link hover-dark-gray" href="/">
          Back to Site
        </a>
      </li>
      <% sections.each_with_index do |section, s| %>
        <% path = "" %>
        <% if section.title != "Introduction" %>
          <% path = section.title.parameterize %>
        <% end %>
        <li class="dib db-l ma0 <% if s != sl %>mb2-l pr2 pr0-l<% end %>"><a class="ma0 mb2 lato f0_75 fw7 ls0_15 ttu <% if section.title === doc.title %>dark-gray<% else %>gray<% end %> link hover-dark-gray" href="/docs/<%= path %>"><%= section.title %></a></li>
      <% end %>
    </ul>
  </nav>
  <article class="fl-l w-75-l">
    <header class="mb4 pb2 bb b--light-gray">
      <div class="ph1 ph2-m ph0-l">
        <h1 class="ma0 mb2 merriweather f2 fw3 dark-gray"><%= doc.title %></h1>
        <% doc.descriptions.each_with_index do |description, d| %>
          <h2 class="merriweather f1_125 fw3 lh2 dark-gray"><%= description %></h2>
        <% end %>
      </div>
    </header>
    <%# Config %>
    <% sl = doc.content.length - 1 %>
    <%# End %>
    <% doc.content.each_with_index do |section, s| %>
      <section class="<% if s != sl %>mb4 pb4 bb b--light-gray<% else %>mb6<% end %>">
        <% if section.title %>
          <header class="mb2 ph1 ph2-m ph0-l">
            <h2 class="ma0 merriweather f1_5 fw4 b black"><%= section.title %></h2>
          </header>
        <% end %>
        <%# Config %>
        <% cl = section.content.length - 1 %>
        <%# End %>
        <% section.content.each_with_index do |content, c| %>
          <%# Config %>
          <% if cl != c %>
            <% next_type = section.content[c + 1].type %>
          <% end %>
          <%# End %>
          <% if content.type === "text" || content.type === "note" %>
            <div class="ph1 ph2-m ph0-l">
              <p class="ma0 <% if next_type === "table" %>mb2<% elsif next_type === "deck" %>mb4<% elsif c != cl %>mb1<% else %>mb6<% end %> merriweather f1_125 fw3 <% if content.type === "text" %>dark-gray<% else %>gray<% end %> lh2"><%= content.text %></p>
            </div>
          <% end %>
          <% if content.type === "table" %>
            <div class="ph1 ph2-m ph0-l">
              <table class="w-100 collapse">
                <tbody>
                  <% content.table.each_with_index do |row, r| %>
                    <tr>
                      <% row.each_with_index do |cell, e| %>
                        <% if cell.type === "header" %>
                          <td class="v-top w-50 pa1 ba b--pearl bg-almost-white">
                            <h3 class="ma0 merriweather f1_125 fw4 black"><%= cell.header %></h3>
                          </td>
                        <% elsif cell.type === "code" %>
                          <td class="v-top w-50 pa1 ba b--pearl">
                            <code class="ma0 roboto-mono f1 fw4 lh1_50 blue"><%= cell.code %></code>
                          </td>
                        <% elsif cell.type === "descriptions" %>
                          <td class="v-top w-50 pa1 ba b--pearl">
                            <%# Config %>
                            <% dl = cell.descriptions.length - 1 %>
                            <%# End %>
                            <% cell.descriptions.each_with_index do |description, d| %>
                              <% if description.type === "text" %>
                                <p class="ma0 mb1 merriweather f1 fw3 black lh1_50"><%= description.text %></p>
                              <% elsif description.type === "rule" %>
                                <p class="ma0 <% if d != dl %>pb0_5<% end %> merriweather f1 fw4 black lh1_50">
                                  <%= description.title %>:
                                  <code class="roboto-mono gray"><%= description.code %></code>
                                </p>
                              <% end %>
                            <% end %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
          <% if content.type === "deck" %>
            <div class="ph1 ph2-m ph0-l <% if next_type === "deck" %>mb4<% end %>">
              <% if content.deck.title %>
                <h3 class="ma0 mb2 merriweather f1_125 fw4 black"><%= content.deck.title %></h3>
              <% end %>
              <%# Config %>
              <% al = content.deck.cards.length - 1 %>
              <%# End %>
              <div class="pa2 bl b--light-gray">
                <% content.deck.cards.each_with_index do |card, a| %>
                  <div class="dib mb2 mb0-ns pa1 pl0 <% if a != al %>pr2<% end %>">
                    <p class="ma0 mb1 <% if card.classList.title %><%= card.classList.title %><% end %>">
                      <%= card.title %>
                    </p>
                    <code class="db minw5 pt1 b--pearl bt <% if card.classList.subtitle %><%= card.classList.subtitle %><% else %> roboto-mono gray<% end %>">
                      <%= card.subtitle %>
                    </code>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if content.type === "links" %>
            <%# Config %>
            <% rl = content.links.length - 1 %>
            <%# End %>
            <div class="mw45 center ph1 ph0-l cf">
              <% content.links.each_with_index do |post, r| %>
                <div class="fl w-100 w-50-ns <% if r < rl %>mb2<% end %> <% if r % 2 == 0 %>pr1-ns<% else %>pl1-ns<% end %>">
                  <a class="js-link shadow-0 translateY-0 duration-0_25 property-all db no-underline bg-white" href="<%= post.source %>" target="_blank">
                    <table class="w-100 collapse">
                      <tbody>
                        <tr>
                          <td class="tc w-20">
                            <%= image_tag post.avatar, :class => "v-mid" %>
                          </td>
                          <td class="w-80 pv1 pl1 bl b--pearl">
                            <p class="ma0 mb0_5 merriweather f1 dark-gray"><%= post.title %></p>
                            <div class="relative h0_75">
                              <p class="js-title opacity-1 duration-0_25 property-opacity absolute ma0 pr1 lato f0_75 fw7 ls0_15 ttu gray">
                                <%= post.subtitle %>
                              </p>
                              <p class="js-title opacity-0 duration-0_25 property-opacity absolute ma0 lato f0_75 fw7 ls0_15 ttu gray"><%= post.link %> →</p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </article>
</div>
