---
layout: main
title: Projects — Claudio Vallejo, Mexican web designer and developer
---
<%# Config %>
<% projects = data.projects %>
<%# End %>
<main class="cf">
  <div class="mw38-ns center cf mt0 mt4-ns mb8 ph1 ph0-ns">
    <section class="mt4 mt0-l mb8">
      <header class="mw38">
        <h1 class="merriweather f1_5 f2-ns fw1 lh1_50"><%= data.index.intro %></h1>
      </header>
    </section>
    <%# Config %>
    <% jl = projects.length - 1 %>
    <%# End %>
    <% projects.each_with_index do |project, j| %>
      <a class="db dim no-underline" href="/projects/<%= pretty_url project.title %>">
        <div class="aspect-ratio aspect-ratio--16x9">
          <img src="<%= project.card.path %>" alt="<%= project.card.alt %>">
        </div>
        <h1 class="ma0 mt1 mb0_5 merriweather f1 fw3 dark-gray"><%= project.title %></h1>
        <h3 class="ma0 lato f0_75 b tracked ttu gray"><%= project.type %></h3>
      </a>
    <% end %>
  </div>
</main>
