---
layout: main
title: Projects — Claudio Vallejo, Mexican web designer and developer
---
<%# Config %>
<% projects = data.projects %>
<%# End %>
<main class="cf">
  <div class="mw38-ns center cf mv8 ph1 ph0-ns">
    <section class="mv8">
      <header class="mw28-l">
        <h1 class="merriweather f2 fw1 lh1_50"><%= data.index.intro %></h1>
        <a class="ma0 mb1 lato f0_75 b tracked ttu silver hover-dark-gray link no-underline" href="/about">Read Bio ⇾</a>
      </header>
    </section>
    <%# Config %>
    <% jl = projects.length - 1 %>
    <%# End %>
    <% projects.each_with_index do |project, j| %>
      <div class="aspect-ratio aspect-ratio--1x1 aspect-ratio--16x9-ns">
        <a class="db relative aspect-ratio--object <% if j != jl %>mb2<% else %>mb8<% end %> cover no-underline" title="<%= project.card.alt %>" href="/projects/<%= pretty_url project.title %>" style="background: url('<%= project.card.path %>') no-repeat center;">
          <div class="absolute pa2">
            <h1 class="ma0 mb1 merriweather f1 fw3 dark-gray"><%= project.title %></h1>
            <h3 class="ma0 lato f0_75 b tracked ttu gray"><%= project.type %></h3>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</main>
