---
title: Claudio Vallejo, Product Designer
layout: index
meta_title: Claudio Vallejo, Product Designer
description: DESCRIPTION PENDING
---
<%# Config %>
<% index = data.index %>
<% projects = [] %>
<% data.projects.each do |id, project| %>
  <% projects.push(project) %>
<% end %>
<% writings = [] %>
<% data.writings.each do |id, article| %>
  <% writings.push(article) %>
<% end %>
<%# Content %>
<main class="mt1 cf">
  <div class="mw38 center mt4-ns ph1 ph0-ns">
    <%# Profile Card %>
    <a class="db cf mb6 ba bn-ns b--light-gray no-underline" href="<%= index.profile.link.path %>">
      <div class="fl-ns w-30-ns">
        <picture>
          <% index.profile.image.breakpoints.each do |breakpoint| %>
            <source srcset="<%= breakpoint["1x"] %> 1x, <%= breakpoint["2x"] %> 2x" media="(min-width: <%= breakpoint.width %>rem)">
          <% end %>
          <img class="db w-100" src="<%= index.profile.image["1x"] %>" srcset="<%= index.profile.image["1x"] %> 1x, <%= index.profile.image["2x"] %> 2x" alt="<%= index.profile.image.alt %>">
        </picture>
      </div>
      <div class="fl-ns w-70-ns pa1 pa2-ns">
        <p class="ma0 mb1 merriweather f1 dark-gray lh1_75"><%= index.profile.description %></p>
        <h3 class="ma0 lato f0_75 fw7 tracked ttu silver"><%= index.profile.link.title %></h3>
      </div>
    </a>
    <%# Content Sections %>
    <%# Config %>
    <% sl = index.sections.length - 1 %>
    <%# End %>
    <% index.sections.each do |section, s| %>
      <section class="mb6">
        <header class="mb1">
          <h1 class="relative z-2 dib ma0 merriweather f1 fw3 pr1 bg-white"><%= section.title %></h1>
          <span class="dib relative top--1_5 w-100 bb b--light-gray"></span>
        </header>
        <% if section.type === "projects" %>
          <%# Config %>
          <% rl = projects.length - 1 %>
          <%# End %>
          <% projects.each do |project, r| %>
            <a class="db no-underline mb2 pa2" style="background-color: #fafafa; height: 15rem;" href="/<%= pretty_url project.name %>">
              <h1 class="ma0 mb0_5 merriweather f1 fw3 dark-gray lh1_75"><%= project.name %> <%= project.category %></h1>
              <h3 class="ma0 lato f0_75 fw7 tracked ttu silver">
                <%= project.type %>
                <% if project.status.active %>
                  <span class="ph0_5">・</span><span class="<%= project.status.color %>"><%= project.status.title %></span>
                <% end %>
              </h3>
            </a>
          <% end %>
        <% elsif section.type === "writing" %>
          <%# Config %>
          <% al = writings.length - 1 %>
          <%# End %>
          <% writings.each do |article, a| %>
            <a class="db no-underline mb2 pa2 ba b--light-gray" href="<%= article.link.path %>">
              <h3 class="ma0 lato mb1 f0_75 fw7 tracked ttu silver">
                <%= article.date %>
                <% if article.status.active %>
                  <span class="ph0_5">・</span><span class="<%= article.status.color %>"><%= article.status.title %></span>
                <% end %>
              </h3>
              <h1 class="ma0 mb0_5 merriweather f1 dark-gray"><%= article.title %></h1>
              <p class="ma0 mb1 merriweather f1 fw3 space-gray lh1_75"><%= article.description %></p>
              <h3 class="ma0 lato f0_75 fw7 tracked ttu silver"><%= article.link.title %></h3>
            </a>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </div>
  <div class="mw38 center cf ph1 ph0-ns">
    <header class="mb1">
      <h1 class="relative z-2 dib ma0 merriweather f1 fw3 pr1 bg-white">Press</h1>
      <span class="dib relative top--1_5 w-100 bb b--light-gray"></span>
    </header>
    <div class="fl w-100 w-50-ns pr0_5-ns">
      <a class="db ba b--light-gray no-underline" href="/" target="_blank">
        <table class="w-100" style="border-spacing: 0;">
          <tbody>
            <tr>
              <td class="tc w-20 w-25-ns">
                <%= image_tag "/images/figma.svg", :class => "v-mid" %>
              </td>
              <td class="w-80 w-75-ns pv1 pl1 bl b--light-gray">
                <p class="ma0 mb0_5 merriweather f1 dark-gray">Don't be Afraid to Jump</p>
                <p class="ma0 lato f0_75 fw7 tracked ttu silver">
                  Hustle Podcast
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
</main>
