---
layout: post
---
<%# Config %>
<% if locals[:article] %>
  <% post = locals[:article] %>
<% elsif locals[:project] %>
  <% post = locals[:project] %>
<% end %>
<%# End %>
<article class="mt4">
  <header>
    <div class="mw45 center pv4 ph1 ph2-m ph0-l">
      <h3 class="mb2 lato f0_75 fw7 ls0_15 ttu gray">
        <% if post.date %>
          <%= post.date %>
        <% else %>
          <%= post.type %>
        <% end %>
      </h3>
      <h1 class="mb1 merriweather f2 fw3 dark-gray"><%= post.title %></h1>
      <h2 class="w-80-ns <% if post.links %>mb2<% end %> lato f1_5 fw3 lh1_50 dark-gray"><%= post.description %></h2>
      <% if post.links %>
        <ul class="pa0 list">
          <%# Config %>
          <% ll = post.links.length - 1 %>
          <%# End %>
          <% post.links.each_with_index do |link, l| %>
            <li class="js-source shadow-0 translateY-0 duration-0_25 property-all dib tc bg-white <% if l != ll %>mb1 mr1<% end %>">
              <a class="dib w9 pv1 lato f0_75 fw7 ls0_15 ttu dark-gray no-underline" href="<%= link.path %>" target="_blank"><%= link.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </header>
  <%# Config %>
  <% sl = post.content.length - 1 %>
  <%# End %>
  <% post.content.each_with_index do |section, s| %>
    <section class="mb4 cf">
      <% if section.title %>
        <div class="mw45 center mb2 ph1 ph2-m ph0-l">
          <h1 class="relative z-2 dib ma0 merriweather f1_5 fw4 dark-gray"><%= section.title %></h1>
        </div>
      <% end %>
      <%# Config %>
      <% cl = section.content.length - 1 %>
      <%# End %>
      <% section.content.each_with_index do |content, c| %>
        <%# Config %>
        <% if cl != c %>
          <% next_type = section.content[c + 1].type %>
        <% end %>
        <%# Hash variables to pass through to partials %>
        <% parameters = { :next_type => next_type, :cl => cl, :c => c, :content => content } %>
        <%# End %>
        <%# Content Type: Full Section %>
        <% if content.type === "full separator" %>
          <%= partial "partials/content_types/full_separator" %>
        <% end %>
        <%# Content Type: Intra Section %>
        <% if content.type === "part separator" %>
          <%= partial "partials/content_types/part_separator" %>
        <% end %>
        <%# Content Type: Text %>
        <% if content.type === "text" %>
          <%= partial("partials/content_types/text", :locals => parameters) %>
        <% end %>
        <%# Content Type: Comment %>
        <% if content.type === "comment" %>
          <%= partial("partials/content_types/comment", :locals => parameters) %>
        <% end %>
        <%# Content Type: Media %>
        <% if content.type === "media" %>
          <%= partial("partials/content_types/media", :locals => parameters) %>
        <% end %>
        <%# Content Type: Block %>
        <% if content.type === "block" %>
          <%= partial("partials/content_types/block", :locals => parameters) %>
        <% end %>
        <%# Content Type: List %>
        <% if content.type === "list" %>
          <%= partial("partials/content_types/list", :locals => parameters) %>
        <% end %>
        <%# Content Type: Bullet %>
        <% if content.type === "bullet" %>
          <%= partial("partials/content_types/bullet", :locals => parameters) %>
        <% end %>
        <%# Content Type: Carrusel %>
        <% if content.type === "carrusel" %>
          <%= partial("partials/content_types/carrusel", :locals => parameters) %>
        <% end %>
        <%# Content Type: Table %>
        <% if content.type === "table" %>
          <%= partial("partials/content_types/table", :locals => parameters) %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</article>
