---
layout: post
---
<%# Config %>
<% if locals[:article] %>
  <% post = locals[:article] %>
<% elsif locals[:project] %>
  <% post = locals[:project] %>
<% end %>
<%# End %>
<article class="mt4 mt0-l">
  <header>
    <div class="mw45 center pv4 ph1 ph2-m ph0-l">
      <h3 class="mb2 lato f0_75 fw7 ls0_15 ttu gray"><% if post.date %><%= post.date %><% else %><%= post.type %><% end %></h3>
      <h1 class="mb1 merriweather f2 fw3 dark-gray"><%= post.title %></h1>
      <h2 class="w-80-ns <% if post.links %>mb2<% end %> lato f1_5 fw3 lh1_50 dark-gray"><%= post.description %></h2>
      <% if post.links %>
        <ul class="pa0 list">
          <%# Config %>
          <% ll = post.links.length - 1 %>
          <%# End %>
          <% post.links.each_with_index do |link, l| %>
            <li class="js-source shadow-0 translateY-0 duration-0_25 property-all dib tc bg-dark-gray <% if l != ll %>mb1 mr0_5-ns<% end %>">
              <a class="dib w10 pv1 lato f0_75 fw7 ls0_15 ttu white no-underline" href="<%= link.path %>" target="_blank"><%= link.title %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </header>
  <%# Config %>
  <% sl = post.content.length - 1 %>
  <%# End %>
  <% post.content.each_with_index do |section, s| %>
    <section class="mb4 cf">
      <% if section.title %>
        <div class="mw45 center mb2 ph1 ph2-m ph0-l">
          <h1 class="relative z-2 dib ma0 merriweather f1_5 fw4 dark-gray"><%= section.title %></h1>
        </div>
      <% end %>
      <%# Config %>
      <% cl = section.content.length - 1 %>
      <%# End %>
      <% section.content.each_with_index do |content, c| %>
        <%# Config %>
        <% if cl != c %>
          <% next_type = section.content[c + 1].type %>
        <% end %>
        <%# End %>
        <%# Content Type: Text %>
        <% if content.type === "text" %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <p class="ma0 <% if next_type && next_type === "media" || next_type === "comment" %>mb4<% elsif next_type && next_type === "block" %>mb2<% elsif c != cl %>mb1<% else %>mb4<% end %> merriweather f1_125 fw3 dark-gray lh2"><%= content.text %></p>
          </div>
        <% end %>
        <%# Content Type: Comment %>
        <% if content.type === "comment" %>
          <div class="mw45 center <% if next_type && next_type === "media" %>mb4<% elsif next_type && next_type == "block" %>mb2<% elsif c != cl %>mb1<% else %>mb4<% end %> pa1 pa2-ns bg-almost-white ba b--light-gray">
            <p class="ma0 merriweather f1_125 fw3 dark-gray lh2"><%= content.comment %></p>
          </div>
        <% end %>
        <%# Content Type: Media %>
        <% if content.type === "media" %>
          <div class="mw60 center <% if c != cl %>mb2<% else %>mb4<% end %>">
            <img src="<%= content.media["1x"] %>" srcset="<%= content.media["1x"] %> 1x, <%= content.media["2x"] %> 2x" alt="<% if content.media.alt %><%= content.media.alt %><% end %>">
            <% if content.media.caption %>
              <div class="mw45 center tc ph1 ph0-ns">
                <p class="ma0 lato f1 fw4 lh1_25 gray"><%= content.media.caption %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <%# Content Type: Block %>
        <% if content.type === "block" %>
          <%# Config %>
          <% il = content.block.length - 1 %>
          <%# End %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <% content.block.each_with_index do |item, i| %>
              <div class="<% if i != il %>mb2<% else %>mb4<% end %>">
                <h4 class="ma0 mb1 merriweather f1_125 fw4 dark-gray"><%= item.title %></h4>
                <p class="ma0 merriweather f1_125 fw3 lh2 dark-gray"><%= item.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <%# Content Type: List %>
        <% if content.type === "list" %>
          <%# Config %>
          <% rl = content.list.length - 1 %>
          <%# End %>
          <div class="mw45 center ph1 ph2-m ph0-l">
            <% content.list.each_with_index do |post, r| %>
              <div class="fl w-100 w-50-ns <% if r < rl %>mb2<% end %> <% if r % 2 == 0 %>pr1-ns<% else %>pl1-ns<% end %>">
                <a class="js-link shadow-0 translateY-0 duration-0_25 property-all db no-underline bg-white" href="<%= post.source %>" target="_blank">
                  <table class="w-100 collapse">
                    <tbody>
                      <tr>
                        <td class="tc w-20">
                          <%= image_tag post.avatar, :class => "v-mid" %>
                        </td>
                        <td class="w-80 pv1 pl1 bl b--pearl">
                          <p class="ma0 mb0_5 merriweather f1 dark-gray"><%= post.title %></p>
                          <div class="relative h0_75">
                            <p class="js-title opacity-1 duration-0_25 property-opacity absolute ma0 pr1 lato f0_75 fw7 ls0_15 ttu gray">
                              <%= post.subtitle %>
                            </p>
                            <p class="js-title opacity-0 duration-0_25 property-opacity absolute ma0 lato f0_75 fw7 ls0_15 ttu gray"><%= post.link %></p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
        <%# Content Type: Table %>
        <% if content.type === "table" %>
          <div class="ph1 ph2-m ph0-l">
            <table class="w-100 collapse">
              <tbody>
                <% content.table.each_with_index do |row, r| %>
                  <tr>
                    <% row.each_with_index do |cell, e| %>
                      <% if cell.type === "header" %>
                        <td class="v-top w-50 pa1 ba b--pearl bg-almost-white">
                          <h3 class="ma0 merriweather f1_125 fw4 dark-gray"><%= cell.header %></h3>
                        </td>
                      <% elsif cell.type === "code" %>
                        <td class="v-top w-50 pa1 ba b--pearl">
                          <code class="ma0 roboto-mono f1 fw4 lh1_50 chili"><%= cell.code %></code>
                        </td>
                      <% elsif cell.type === "descriptions" %>
                        <td class="v-top w-50 pa1 ba b--pearl">
                          <%# Config %>
                          <% dl = cell.descriptions.length - 1 %>
                          <%# End %>
                          <% cell.descriptions.each_with_index do |description, d| %>
                            <% if description.type === "text" %>
                              <p class="ma0 mb1 merriweather f1 fw3 dark-gray lh1_50"><%= description.text %></p>
                            <% elsif description.type === "rule" %>
                              <p class="ma0 <% if d != dl %>pb0_5<% end %> merriweather f1 fw4 dark-gray lh1_50">
                                <%= description.title %>:
                                <code class="roboto-mono green"><%= description.code %></code>
                              </p>
                            <% end %>
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </section>
  <% end %>
</article>
