---
title: Project Detail Test — Claudio Vallejo
layout: main
meta_title: Project Detail Test
description: Heh, lorem ipsum.
---
<%# Config %>
<% project = locals[:project] %>
<%# End %>
<main>
  <div class="aspect-ratio aspect-ratio aspect-ratio--16x9">
    <div class="aspect-ratio--object cover bg-center" title="<%= project.hero.alt %>" style="background-image: url('<%= project.hero.path %>');"></div>
  </div>
  <%# Header C %>
  <section class="mw38-ns center mv8 ph1 ph0-ns">
    <h3 class="ma0 mb2 lato f0_75 b tracked ttu gray"><%= project.type %></h3>
    <h1 class="ma0 mb1 merriweather f1_5 f2_5-ns fw3 dark-gray"><%= project.title %></h1>
    <h2 class="mw28-ns ma0 lato f1_5 f1_875-ns fw3 lh1_50 dark-gray"><%= project.caption %></h2>
  </section>
  <%# Content %>
  <%# Config %>
  <% sl = project.content.length - 1 %>
  <%# End %>
  <% project.content.each_with_index do |section, s| %>
    <section class="<% if s != sl %>mb4<% end %>">
      <% if section.title %>
        <div class="mw38-ns center ph1 ph0-ns">
          <h3 class="ma0 mb2 lato f0_75 b tracked ttu dark-gray"><%= section.title %></h3>
        </div>
      <% end %>
      <%# Config %>
      <% sbl = section.subsections.length - 1 %>
      <%# End %>
      <% section.subsections.each_with_index do |subsection, sb| %>
        <%# Config %>
        <% if sb != sbl %>
          <% next_subsection = section.subsections[sb + 1].type %>
        <% else %>
          <% next_subsection = subsection.type %>
        <% end %>
        <%# End %>
        <% if subsection.type === "text" %>
          <div class="mw38-ns center ph1 ph0-ns">
            <p class="ma0 <% if sb != sbl && next_subsection === "image" %>mb4<% elsif sb != sbl %>mb1<% end %> merriweather f1_25 lh1_75 dark-gray"><%= subsection.text %></p>
          </div>
        <% elsif subsection.type === "image" %>
          <div class="mw58-ns center">
            <img class="db <% if sb != sbl && next_subsection === "image" %>mb0<% elsif sb != sbl %>mb4<% end %>" src="<%= subsection.image.path %>" alt="<%= subsection.image.alt %>">
          </div>
        <% elsif subsection.type === "pointers" %>
          <% subsection.pointers.each do |point| %>
            <div class="mw38-ns center ph1 ph0-ns">
              <div class="mt2">
                <h3 class="ma0 mb1 lato f0_75 b tracked ttu silver"><%= point.title %></h3>
                <p class="ma0 merriweather fw3 lh1_75 dark-gray"><%= point.text %></p>
              </div>
            </div>
          <% end %>
        <% elsif subsection.type === "blocks" %>
          <div class="mw38-ns center ph1 ph0-ns cf">
            <%# Config %>
            <% bl = subsection.blocks.length - 1 %>
            <%# End %>
            <% subsection.blocks.each_with_index do |block, b| %>
              <div class="fl-ns w-50-ns mb4">
                <h3 class="ma0 mb2 lato f0_75 tracked ttu dark-gray"><%= block.title %></h3>
                <ul class="ma0 merriweather pa0 list">
                  <%# Config %>
                  <% il = block.items.length - 1 %>
                  <%# End %>
                  <% block.items.each_with_index do |item, i| %>
                    <li class="<% if i != il %>mb1<% end %>">
                      <a class="mb0_5 dib no-underline dark-gray dim" href="<%= item.source %>" target="_blank"><%= item.title %></a>
                      <p class="ma0 silver"><%= item.subtitle %></p>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </section>
  <% end %>
</main>
